DB_HOST=local.knowyourlanguage.com
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=Postgres999
DB_NAME=know_your_language

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=https://local.knowyourlanguage.com:3000/api/v1/auth/google/callback
GOOGLE_SCOPES=email|profile|openid

OPENAI_API_KEY=
OPENAI_ORGANIZATION_ID=
OPENAI_MODEL=